 <script type="text/javascript">   
     
 $(document).ready(function() {
 
  
   }); 
   
   
   function generateReport(){
   window.location="{$_subdomain}/Stock/minimumStockRoutineExport/type="+$('input[name=minStockRadio]:checked').val();
   }
   
  </script>  
   
<div id="StockMinimumPopupContainer" class="SystemAdminFormPanel" style="width:600px;">
    <fieldset>
        <legend>Minimum Stock Routine</legend>
        
        <input type="radio" id="allStockRadio" value="1" name="minStockRadio"> Report on all stock<br>
        <input type="radio" id="minStockRadio" value="2" name="minStockRadio"> Report on stock at minimum level only<br><br>
        
        
        <div style="width:200px;margin:auto;float:left"><button  style="width:200px;margin:auto" onclick="generateReport()" id="GenerateReportButton" type="button" class="gplus-blue">Generate Report</button></div>
              <button  style="width:100px;float:right;position:relative;" onclick="$.colorbox.close()" id="GenerateReportButton" type="button" class="gplus-red">Cancel</button>
        
    
    </fieldset>    
                 
                        
       
</div>
                 
 
                          
                        
