<head>
</head>
<body> 
<div id="popUpContainer" style="width:926px">
             <div id="appDetails" >
         <fieldset>
             <legend>Data Print</legend>
              <form method=post action="{$_subdomain}/Diary/exportDiaryData" id="exportForm">
                 
                  <input type="hidden" name="type" id="exportType" value="">
                 
             <table valign=top style="vertical-align:top !important">
                
                 <tr>
                     <td style="vertical-align:top !important;" >
                         <fieldset style="height:300px;padding-top: 10px;width:330px;overflow-y: auto">
                        <table id="export_table" border="0" cellpadding="0" cellspacing="0" class="browse" >
                 
                             <thead>
                     <tr>
                <th class="diaryDataTable" style="background-position:right bottom;">id</th>
                <th class="diaryDataTable" style="background-position:right bottom;">Select Required Export</th>
                </tr>
                </thead>
                <tbody s>
           <tr>
                            <td class="diaryDataTable" >1</td>
                            <td class="diaryDataTable" >ENGINEER APPOINTMENT SUMMARY</td>
                      
                    </tr>
                    {if $diaryType=="FullViamente"}
                    <tr>
                            <td class="diaryDataTable" >2</td>
                            <td class="diaryDataTable" >VIAMENTE MAP & ROUTE INFORMATION</td>
                      
                    </tr>
                    {/if}
          
              </tbody>
             </table>
                     
                     </fieldset>
                     </td>
                     <td>
                         <fieldset style="width:330px;height:300px;padding-top: 10px;display:block" >
                             <div style="margin-bottom: 30px;position:relative;float:right;width:330px;text-align: right" >
                                 <input  id="tagAllEngineersExport" onclick="$('#fl2').find(':checkbox').attr('checked', 'checked');$('#tagAllEngineersExport2').attr('checked',false)" type="checkbox">Tag All &nbsp;&nbsp;&nbsp;
                                 <input checked=checked id="tagAllEngineersExport2" onclick="$('#fl2').find(':checkbox').attr('checked', false);$('#tagAllEngineersExport').attr('checked',false)" type="checkbox">Untag All 
                             </div>
                             
                             <div style="padding-top: 10px;height:231px;overflow-y:auto;border: 1px solid #CCCCCC" id="fl2">
                         
                           
                         </div>
                         </fieldset>
                     
                     </td>
                         
                    
                 </tr>
                  <tr>
                      <td colspan="10" style="background: none">Date<span style=color:red>*</span>
                     
                   
                          <input onchange="changeDate();"  type="text"  name="dateFromPrint"  style="width:80px;" id="dateFromPrint" value="{if isset($date)}{$date|date_format:"%d/%m/%Y"}{/if}"  >
<!--                        <img class="ui-datepicker-trigger" src="/css/Base/images/calendar.png" alt="..." title="...">-->
                 
                   
                    
<!--                         Date To<span style=color:red>*</span>
                     
                     
                 <input type="text" name="dateTo"  style="width:80px;" id="dateTo" value="{if isset($date)}{$date|date_format:"%d/%m/%Y"}{/if}" readonly="readonly" readonly="readonly">
                    <img class="ui-datepicker-trigger" src="/css/Base/images/calendar.png" alt="..." title="...">
                   
                     
                  -->
               
                  
                 </tr>
                 <tr>
                     <td colspan=10>
<!--                         <button type="button" class="btnStandard" style="color:white" onclick="addToDate('m')">MTD</button> 
                         <button type="button" class="btnStandard" style="color:white" onclick="addToDate('30')">30 Days</button> 
                         <button type="button" class="btnStandard" style="color:white" onclick="addToDate('60')">60 Days</button> 
                         <button type="button" class="btnStandard" style="color:white" onclick="addToDate('90')">90 Days</button> 
                         <button type="button" class="btnStandard" style="color:white" onclick="addToDate('y')">YTD</button> -->
                     </td>
                 </tr>
                 </table

                          
 </form>
                    {if $diaryType=="FullViamente"}
 <img onclick="submitEmail('exportForm');" title="Email Data" style="float:right;cursor:pointer" src="{$_subdomain}/css/Skins/{$_theme}/images/icons2_send_route.png">
 <div style="width: 50px;float:right">&nbsp;</div>
 {/if}
 <img onclick="submitPrint('exportForm');" title="Print Data" style="float:right;cursor:pointer" src="{$_subdomain}/css/Skins/{$_theme}/images/icons2_print.png">
   
    </div>
 
          
              <script>
                  function submitPrint(f){
                  var selected=""; 
$('input[name="engIDExport[]"]:checked').each(function() {
    selected=selected+$(this).attr('value')+",";
});
               //  console.log(selected);
        if($('#dateFromPrint').val()!=""&&$('input[name="engIDExport[]"]:checked').length > 0){
        if( $('#exportType').val()!=""){
        if($('#exportType').val()==1){
 window.open("{$_subdomain}/Diary/printReport1/tEng="+selected+"/"+$('#dateFromPrint').val(),"_blank");
 
   }
   if($('#exportType').val()==2){
  showIndMap();
   }
   }else{
   alert('Please select export type first');
   }
}else{
alert('All fields should be filled, please fill all fields and try again');
}
          }       
                  
       
  
    
      function submitEmail(f){
                  var selected=""; 
$('input[name="engIDExport[]"]:checked').each(function() {
    selected=selected+$(this).attr('value')+",";
});
               //  console.log(selected);
        if($('#dateFromPrint').val()!=""&&$('input[name="engIDExport[]"]:checked').length > 0){
        if( $('#exportType').val()!=""){
        if($('#exportType').val()==1){
   //window.open("{$_subdomain}/Diary/emailReport1/tEng="+selected+"/"+$('#dateFromPrint').val(),"_blank");
    alert('This feature is in development!');
   }
   if($('#exportType').val()==2){
  sendIndMap();
   }
   }else{
   alert('Please select export type first');
   }
}else{
alert('All fields should be filled, please fill all fields and try again');
}
          }       
                  
        $(document).ready(function() {
      
  });//end document ready

function addToDate(type)
{
    if($('#dateFromPrint').val()!=""){
        var dateA=$('#dateFromPrint').val().split('/');
        var date = new Date($('#dateFromPrint').val());
     d = date.getDate();
      m = date.getMonth();
      y = date.getFullYear();
    
if(type=="m"){ var edate= new Date(y, m+1, d);}
if(type=="30"){ var edate= new Date(y, m, d+30);}
if(type=="60"){ var edate= new Date(y, m, d+60);}
if(type=="90"){ var edate= new Date(y, m, d+3);}

if(type!='y'){
 var d1 =(edate.getDate());
     var m1 = (edate.getMonth()+1);
     var y1 = edate.getFullYear();
     }
     
     if(type=="y"){ d1=d;m1=m;y1=y;}
     
     
     if(d1<10){ d1="0"+d1}
     if(m1<10){ m1="0"+m1}
$('#dateTo').val(d1+'/'+m1+'/'+y1);
}
}


function showIndMap(){
var dateA=$('#dateFromPrint').val().split('/');
//console.log("data="+dateA[2].split(2));
var d=new Date(dateA[2],dateA[1]-1,dateA[0],0,0,0,0);
var weekday=new Array(7);
weekday[0]="Sunday";
weekday[1]="Monday";
weekday[2]="Tuesday";
weekday[3]="Wednesday";
weekday[4]="Thursday";
weekday[5]="Friday";
weekday[6]="Saturday";

var n = weekday[d.getDay()];
//console.log("day="+d);
 var selectedNames= new Array(); 
$('input[name="engIDExport[]"]:checked').each(function() {
    selectedNames.push($(this).attr('names'));
});
  //console.log(selectedNames);
$.post("{$_subdomain}/Diary/ViamenteMap",{ date:$('#dateFromPrint').val() },
function(data) {

data=data.replace(' ', '');
data=data.replace(' ', '');
$.each(selectedNames, function(index,value) { 
 window.open("{$viamenteServer}/export/directions/"+data+"/"+value+"_"+n,"_blank");
});
 
 


});
}
function sendIndMap(){
var dateA=$('#dateFromPrint').val().split('/');
//console.log("data="+dateA[2].split(2));
var d=new Date(dateA[2],dateA[1]-1,dateA[0],0,0,0,0);
var weekday=new Array(7);
weekday[0]="Sunday";
weekday[1]="Monday";
weekday[2]="Tuesday";
weekday[3]="Wednesday";
weekday[4]="Thursday";
weekday[5]="Friday";
weekday[6]="Saturday";

var n = weekday[d.getDay()];
//console.log("day="+d);
 var selectedNames= new Array(); 
 var selectedIDs= new Array(); 
$('input[name="engIDExport[]"]:checked').each(function() {
    selectedNames.push($(this).attr('names'));
    selectedIDs.push($(this).attr('id'));
});
  //console.log(selectedNames);
$.post("{$_subdomain}/Diary/ViamenteMap",{ date:$('#dateFromPrint').val() },
function(data) {

data=data.replace(' ', '');
data=data.replace(' ', '');
$.each(selectedNames, function(index,value) { 
 
 $.post("{$_subdomain}/Diary/sendEmail",{ 'type':5,'data':"{$viamenteServer}/export/directions/"+data+"/"+value+"_"+n,'date':$('#dateFromPrint').val(),'name':value },
function(data2) {




});
alert('Emails  sent!');
});
 
 


});
}

 $(document).ready(function() {
 
        $.post("{$_subdomain}/Diary/getEngWithApp",{ 'date':'{$date|date_format:"%Y-%m-%d"}' },
function(data) {
//console.log(data);
en=jQuery.parseJSON(data);
if(en.length==0)
{
$('#fl2').html("<p>No Appointments exist for the selected date.</p>");
}
for(i=0;i<en.length;i++){
//console.log(en);


$('#fl2').html($('#fl2').html()+'<input    type="checkbox"  value="'+en[i].dd+'" name="engIDExport[]" names="'+en[i].nn+' '+en[i].ss+'">'+en[i].nn+' '+en[i].ss+'<br>')
}
});
      
  });//end document ready
  
  function changeDate(){
 $('#fl2').html('');
   $.post("{$_subdomain}/Diary/getEngWithApp",{ date:$('#dateFromPrint').val()},
function(data) {
//console.log(data);
en=jQuery.parseJSON(data);
if(en.length==0)
{
$('#fl2').html("<p>No Appointments exist for the selected date.</p>");
}
for(i=0;i<en.length;i++){



$('#fl2').html($('#fl2').html()+'<input    type="checkbox"  value="'+en[i].dd+'" name="engIDExport[]" names="'+en[i].nn+' '+en[i].ss+'">'+en[i].nn+' '+en[i].ss+'<br>')
}
});
      
  }
  $("#dateFromPrint").change(function() {
  alert('da');
  changeDate();
  });
  
  
  
    </script>  
                      </body>
<!--        end job  details field set    -->
     
 
         