<div id="samsungMoveDiv2" >
 
     <div style="font-size: 14px;width:900px;margin-bottom: 0px;">
         <fieldset>
             <legend>Please identify the reason why you wish to move this Samsung One Touch Appointment?</legend>
             <br>
            <input onclick="$('#forceaddbutoon2').show();reason=$(this).val();" type="radio" name="forceAddReason" value="The customer has requested a different time">The customer has requested a different time<br>
            <input onclick="$('#forceaddbutoon2').show();reason=$(this).val();" type="radio" name="forceAddReason" value='Soft service - Spare required, not currently in stock'>Soft service - Spare required, not currently in stock<br>
            <input onclick="$('#forceaddbutoon2').show();reason=$(this).val();" type="radio" name="forceAddReason" value='The appointment cannot be reached on the selected day'>The appointment cannot be reached on the selected day<br>
            <input onclick="$('#forceaddbutoon2').show();$('#forceaddTextP2').show();$.colorbox.resize();reason=$(this).val();" type="radio" name="forceAddReason" value="Other">Another reason<br>
       <br>
       <p id="forceaddTextP2" class="forceaddTextP2" style="display:none">
           <label>Please write a brief description of the reason:</label>
       <textarea id="forceaddText2" name="forceaddText2"  style="width:600px;height:200px;"></textarea>
       </p>
           <button id="forceaddbutoon2" placeholder="Another reason"  type=button class="btnStandard"  onclick="setForceReason2()" style="width:200px;float:left;display:none"><span class="label">Proceed</span></button>   
           
           
         
       
        </fieldset>
       </div> 
<script>
    var reason
    function setForceReason2()
    {
        if(reason=="Other"){
        reason=$('#forceaddText2').val();
       
        }
      $.post("{$_subdomain}/Diary/editAppointmentSamsungReasonSet",{ 'reason':reason },
function(data) {
$.colorbox.close();
});
   
    }
</script>
</div>